{% extends "ts_index.html" %}

{% block title %}
  <title>XU SSIO - Dashboard</title>
{% endblock title %}

{% block page_name %}
  <h5 class="col-6"><i class='bx bx-home-alt'></i>Dashboard</h5>
{% endblock page_name %}

{% block content %}
  <div id="view-violations-content">
    <section id="view-violations-section">
      <div class="container-fluid d-flex justify-content-between align-items-center px-0 mb-3" style="background-color: transparent; box-shadow: none; width: 100%;">
        <div class="title-section">
          <i class="fas fa-table"></i> TICKETS
        </div>

        <div class="controls">
          <form action="{% url 'ts:Dashboard' %}" class="search-form">
            <button class="outline">Filters:</button>
            <input class="outline" id="filter_date" name="filter_date" type="date" value="{{ request.GET.filter_date|default:'' }}">
            <input class="outline" id="student_name" name="student_name" type="text" placeholder="Search Student Name" value="{{ request.GET.student_name|default:'' }}">
            <input class="outline" id="student_id" name="student_id" type="text" placeholder="Search Student ID" value="{{ request.GET.student_id|default:'' }}">
            <button class="outline" type="submit">Search</button>
            {% if request.GET.student_name or request.GET.student_id or request.GET.filter_date %}
                <a href="{% url 'ts:Dashboard' %}"><button type="button">Clear</button></a>
            {% endif %}
        </form>
        </div>
      </div>

      <div class="container-fluid" style="width: 100%;">
        <table id="violations-table" class="table text-center">
          <thead>
            <tr>
              <th>Ticket #</th>
              <th>Student ID</th>
              <th>Student Name</th>
              <th>Violation Type</th>
              <th>Date/Time</th>
              <th>OSA Status</th>
              <th>ID Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="violations-table-body">
            {% for ticket in tickets %}
              <tr>
                <td>{{ ticket.ticket_id }}</td>
                <td>{{ ticket.student_id }}</td>
                <td>{{ ticket.student.last_name }}, {{ ticket.student.first_name }} {{ ticket.student.middle_name }}</td>
                <td>
                    {% if ticket.uniform_violation %}Uniform Violation<br> {% endif %}
                    {% if ticket.dress_code_violation %}Dress Code Violation<br> {% endif %}
                    {% if ticket.id_violation %}ID Violation{% endif %}
                </td>
                <td>{{ ticket.date_created }}</td>
                <td {% if ticket.ticket_status != 1 and ticket.ticket_status != 2 %} class="status-pending"
                    {% elif ticket.ticket_status != 0 and ticket.ticket_status != 2 %} class="status-resolved"
                    {% else %} class="status-cleared" {% endif %}>
                    {% if ticket.ticket_status != 1 and ticket.ticket_status != 2 %} Pending
                    {% elif ticket.ticket_status != 0 and ticket.ticket_status != 2 %} Resolved 
                    {% else %} Cleared {% endif %}
                </td>
                <td>
                    {% if ticket.id_status == 0 %}
                      <form>
                          <input type="hidden" name="status" value="1">
                          <button type="button" class="btn btn-light controls-unclaimed" style="width:auto" onclick="update_id('{{ticket.ticket_id}}', 1)"{% if ticket.ticket_status == 0 %} disabled {% endif %}>Unclaimed</button>
                      </form>
                    {% else %}
                        <button type="button" class="btn btn-light controls-claimed" style="width:auto" disabled>Claimed</button>
                    {% endif %}
                </td>
                <td>
                  <div class="d-flex gap-2 justify-content-center">
                    <a href="{% url 'ts:TicketDetails' ticket.ticket_id %}" class="btn btn-primary" style="width:auto">View</a>
                    <button class="btn btn-outline-secondary" style="width:auto" onclick="check_ticket('{{ticket.ticket_id}}')">Resend</button>
                  </div>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="8" class="text-center">No violations found.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </div>
<div class="pagination justify-content-center">
    <ul>
        {% if tickets.has_previous %}
        <li><a href="{% url 'ts:Dashboard' %}?page={{ tickets.previous_page_number }}{% if request.GET.student_name %}&student_name={{ request.GET.student_name }}{% endif %}{% if request.GET.student_id %}&student_id={{ request.GET.student_id }}{% endif %}">&laquo; Previous</a></li>
        {% else %}
        <li class="disabled"><span>&laquo; Previous</span></li>
        {% endif %}
        
        {% for i in tickets.paginator.page_range %}
            {% if tickets.number == i %}
                <li class="active"><span>{{ i }}</span></li>
            {% else %}
                <li><a href="{% url 'ts:Dashboard' %}?page={{ i }}{% if request.GET.student_name %}&student_name={{ request.GET.student_name }}{% endif %}{% if request.GET.student_id %}&student_id={{ request.GET.student_id }}{% endif %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        
        {% if tickets.has_next %}
        <li><a href="{% url 'ts:Dashboard' %}?page={{ tickets.next_page_number }}{% if request.GET.student_name %}&student_name={{ request.GET.student_name }}{% endif %}{% if request.GET.student_id %}&student_id={{ request.GET.student_id }}{% endif %}">Next &raquo;</a></li>
        {% else %}
        <li class="disabled"><span>Next &raquo;</span></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
